.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: red;
  border: none;
  color: white;
  transition: all ease .3s;
  padding: 10px;
  font-size: 16px;
}

.buttonAdded {
  background-color: blue;
  border: none;
  color: white;
  transition: all ease .3s;
  padding: 10px;
  font-size: 16px;
}

.blue {
  background-color: #282f54;
  padding: 40px;
  margin-bottom: 40px;
}

.green {
  background-color: #285428;
  padding: 40px;
  margin-bottom: 40px;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
